@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <style>
        html,body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
</head>
<body>  
<div class="text-center">
    <h1 class="display-4">CSRF Test</h1>
    <form method="post">
        <input type="text" name="data" placeholder="Text Value" />
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>